# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db